@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/rc-color-picker/assets/index";
@import '../../node_modules/react-tabs/style/react-tabs.scss';
@import "helpers";

/** REPLACE BOOTSTRAP VARIBLES * START */

$baseSize: 12;
$spacer: 1rem;
$spacers: (
    0: 0,
    1: ($spacer * 0.15),
    2: ($spacer * 0.25),
    3: ($spacer * 0.5),
    4: ($spacer * 0.75),
    5: ($spacer * 1)
);

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// stylelint-disable value-keyword-case

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

$primary: #000000aa;

$bgPrimary: #000000;
$bgSecondary: #111111;

$yiq-text-dark: $gray-900;
$yiq-text-light: $white;

$body-bg: $bgPrimary;
$body-color: $white;

$input-btn-padding-y: em(4, $baseSize);
$input-btn-padding-x: em(8, $baseSize);
$input-btn-font-family: $font-family-monospace;
$input-btn-font-size: em(10, $baseSize);
$input-btn-line-height: 1.2;
$custom-select-indicator-padding: 1em;

// modal

$modal-content-bg: $bgPrimary;

// table

$table-cell-padding:          em(6, $baseSize);
$table-cell-padding-sm:       em(3, $baseSize);

/** REPLACE BOOTSTRAP VARIBLES * END */

@import "../../node_modules/bootstrap/scss/variables";
@import "import";

/** CUSTOM MIXINS * START */

@mixin bgCarbon {
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(
        45deg,
        $bgPrimary 24%,
        transparent 26%,
        transparent 74%,
        $bgPrimary 76%,
        $bgPrimary
    ), linear-gradient(
        45deg,
        $bgPrimary 24%,
        transparent 26%,
        transparent 74%,
        $bgPrimary 76%,
        $bgPrimary
    ), linear-gradient(
        to bottom,
        $bgSecondary,
        $gray-900
    );
    background-size: rem(8) rem(8), rem(8) rem(8), rem(8) rem(4);
    background-position: 0px 0px, rem(4) rem(4), 0px 0px;
}

@mixin absolute-stretch {
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
}

.ofh {
    overflow: hidden;
}

.ifx-ac {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}
.ifx-as {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.fx-ac {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/** CUSTOM MIXINS * END */
/** REPLACE MODAL * START */

.modal-container {
    @include absolute-stretch;
    overflow: hidden;

    .modal-slot {
        position: absolute;
        top: 0; left: 0;
        width: 0;
        height: 0;

        & > .modal {
            opacity: 0.8;
        }
        &.active > .modal {
            opacity: 1;
        }
    }

    .modal {
        position: absolute;
        width: 0px;
        height: 0px;
        overflow: visible;
        transition: opacity 0.2s ease;

        &.show {
            display: block;
        }

        .close {
            margin: #{-(em(5))} #{-(em(10))} #{-(em(5))} 0;
            padding: 0 em(10);
            color: $white;
            text-shadow: none;
            display: flex;
            align-self: stretch;
            align-items: center;
            float: none;

            & > span {
                position: relative;
                width: em(5, $baseSize);
                height: em(5, $baseSize);
                display: block;
                transition: all 0.3s ease;

                &:after,
                &:before {
                    $width: em(1, $baseSize);

                    content: ' ';
                    position: absolute;
                    top: 0; bottom: 0;
                    left: 50%;
                    margin-left: -($width / 2);
                    width: $width;
                    background-color: #fff;
                    display: block;
                }
                &:before {transform: rotate(-45deg);}
                &:after {transform: rotate(45deg);}
            }

            &:hover > span {
                transform: rotate(180deg);
            }
        }

        &.mode-1, &.mode-3 {
            .modal-dialog {right: 0}
        }
        &.mode-2, &.mode-3 {
            .modal-dialog {bottom: 0}
        }
    }

    .modal-dialog {
        position: absolute;
        margin: 0;
        max-width: 100vw;
        max-height: 100vh;
    }

    .modal-content {
        position: relative;
        width: auto;
        border: none;
        background: none;
    }

    .modal-header,
    .modal-body,
    .modal-footer {
        $border: solid em(3, $baseSize) $black;

        padding: em(5, $baseSize) em(10, $baseSize);
        border: $border;
        border-top: none;
        border-radius: none;
        background-color: rgba($bgPrimary, 0.95);

        &:first-child {
            border-top: $border;
        }
    }

    .modal-header {
        box-shadow: 0 0 em(15, $baseSize) 0 rgba($white, 0.1) inset;
        @include bgCarbon;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &:not(:active) {
            cursor: grab;
        }
    }

    .modal-body,
    .modal-footer {
        box-shadow: 0 0 0 em(1, $baseSize) $bgSecondary inset;
    }
}

/** CUSTOM MODAL * END */
/** REPLACE BOOTSTRAP * START */

.btn {
    box-shadow: 0 0 0 em(2, $baseSize) $gray-900;
    &:hover {
        box-shadow: 0 0 0 em(2, $baseSize) $gray-700;
    }
}

/** REPLACE BOOTSTRAP * END */
/** CUSTOM STYLES * START */

// scroll

/* width */
::-webkit-scrollbar {
    padding-left: 0.2em;
    width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.5em $gray-900;
    border-radius: 0.5em;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $gray-900;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $gray-800;
}

// body

body {
    font-family: $font-family-monospace;
    font-size: rem($baseSize);
    background-color: $bgPrimary;
}

#root {
    @include absolute-stretch;
}

.layout-map {
    @include absolute-stretch;
    @include bgCarbon;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    .top-bar {
        position: relative;
        padding: rem(6) rem(10);
        border-bottom: solid rem(3) rgba($bgPrimary, 0.75);
        box-shadow: 0 0 rem(15) 0 $bgPrimary inset;
        display: flex;
        justify-content: space-between;

        .left {
            flex-basis: 1;
        }
        .right {
            display: block;
        }
    }
    .canvas {
        padding: rem(5);
        display: flex;
        align-items: stretch;
        flex-grow: 1;

        & > div {
            position: relative;
            flex-grow: 1;
            overflow: hidden;
            border-radius: rem(6);
            box-shadow: 0 0 rem(1) rem(2) $bgPrimary, 0 0 rem(3) 0 $bgPrimary;

            & > canvas {
                @include absolute-stretch;
            }

            &:after {
                content: ' ';
                @include absolute-stretch;
                display: block;
                border-radius: rem(6);
                box-shadow: 0 0 rem(10) 0 $bgPrimary inset;
                pointer-events: none;
            }
        }
    }
}

/** CUSTOM STYLES * END */

// Color picker restyle

.rc-color-picker-panel {
    background-color: transparent;
}
.rc-color-picker-panel-inner {
    box-shadow: none;
    border: none;
}
.rc-color-picker-panel-params-lable-number:hover {
    color: $black;
}

// tooltip

.tooltipModal {
    pointer-events: none;
    user-select: none;

    table {
        background-color: transparent;
        max-width: max-content;

        td {
            border-top: none;
        }
        tr + tr td {
            border-top: solid em(1) $bgSecondary;
        }
    }

    table.table-sm td {
        $xPadding: em(8, $baseSize);

        padding-left: $xPadding;
        padding-right: $xPadding;
    }

    .icon {
        color: $gray-600;
    }
}

// value-format

.value-format {
    span + span {
        margin-left: em(3, $baseSize);
    }

    .special-char {color: $gray-700;}
    .unit {color: $gray-600;}
    .value-1 {color: #96c0eb;}
    .value-2 {color: #96eba4;}
    .value-3 {color: #e5eb96;}
    .value-4 {color: #eb9696;}
}

// searchModal

.searchModal {
    min-width: 20vw;

    .result-list {
        max-height: 60vh;
        padding-right: em(3, $baseSize);
        overflow-y: scroll;
    }
}